body {
  background-color: #343a40;
  color: #f8f9fa;
  font-fami ly: Arial, sans-serif;
  text-align: center;
  padding-top: 20px;
}

.main-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #212529;
  color: white;
  border: 1px solid #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  width: 18rem;
}
.card img {
  width: 60%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 1rem;
  color: #adb5bd;
}

.card-subtitle button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 9px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  margin: 0 3px;
}

.card-subtitle button:hover {
  background-color: #218838;
}

.card-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  margin-top: 10px;
}

.card-btn:hover {
  background-color: #0056b3;
}

.card-price {
  font-size: 1.4rem;
  font-weight: bold;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #c82333;
}

.checkout-container {
  margin-top: 30px;
  text-align: center;
}

.checkout-btn {
  background-color: #28a745;
  color: white;
  border: none;
  margin: 2rem 0;
  padding: 12px 24px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.checkout-btn:hover {
  background-color: #218838;
}

#totalPrice {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 20px;
}

.back-home-btn {
  position: absolute;
  margin-top: 15px;
  top: 20px;
  left: 20px;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.back-home-btn:hover {
  background-color: darkblue;
}

.delete-all-btn {
  position: absolute;
  margin-top: 15px;
  top: 20px;
  right: 20px;
  background-color: #dc3454;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
 
.delete-all-btn:hover {
  background-color: #c82333;
}

@media only screen and (max-width: 600px) {
  .main-heading {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 8px;
  }

  #totalPrice {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
  }

  .back-home-btn {
    border-radius: 2px;
    margin-top: 20px;
    padding: 4px 12px;
    font-size: 13px;
  }

  .delete-all-btn {
    border-radius: 2px;
    margin-top: 20px;
    padding: 4px 12px;
    font-size: 13px;
  }
  .scroll-down-btn,
  .scroll-up-btn {
    font-size: 18px;
  }
}

.scroll-up-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.scroll-down-btn {
  background: transparent;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.scroll-down-btn:hover,
.scroll-up-btn:hover {
  background-color: rgb(40, 40, 40);
}
